<h3>Guests Create a profile</h3>
<form>
  <label>First Name</label>
  <input type="text" ng-model="gcreatectrl.newGuest.firstName">
  <br>
  <label>Last Name</label>
  <input type="text" ng-model="gcreatectrl.newGuest.lastName">
  <br>
  <label>Email</label>
  <input type="text" ng-model="gcreatectrl.newGuest.email">
  <br>
  <label>About Me</label>
  <textarea type="text" ng-model="gcreatectrl.newGuest.aboutMe"></textarea>
  <br>
  <label>Things I Like</label>
  <textarea type="text" ng-model="gcreatectrl.newGuest.thingsILike"></textarea>
  <br>
  <button ng-click="gcreatectrl.addGuest()">Create Profile</button>
</form>
