
<form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <h3>Guest Sign Up</h3>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input class"form-control" type="text" ng-model="gcreatectrl.newGuest.firstName">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input class"form-control" type="text" ng-model="gcreatectrl.newGuest.lastName">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input class"form-control" type="text" ng-model="gcreatectrl.newGuest.email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input lass"form-control" type="text" ng-model="gcreatectrl.newGuest.password">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">About Me</label>
    <div class="col-sm-10">
      <textarea class"form-control" type="text" ng-model="gcreatectrl.newGuest.aboutMe"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Things I Like</label>
    <div class="col-sm-10">
      <textarea class"form-control" type="text" ng-model="gcreatectrl.newGuest.thingsILike"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-info" ng-click="gcreatectrl.addGuest()">Create Profile</button>
      <a class="btn btn-info" href="#/authenticate">Back to Login</a>
    </div>
  </div>
</form>
