<div class="container">
  <div ng-if="hshowctrl.shown">
    <div><h4>{{hshowctrl.host.data.firstName}} {{hshowctrl.host.data.lastName}}</h4></div>
    <div class="col-md-3">Location:</div><div class="col-md-9">{{hshowctrl.host.data.neighborhood}}, {{hshowctrl.host.data.city}}, {{hshowctrl.host.data.state}}</div>
    <br>
    <div class="col-md-3">Attractions Near me:</div><div class="col-md-9">{{hshowctrl.host.data.attractionsNearMe}}</div>
    <br>
    <div class="col-md-3">About My Space:</div><div class="col-md-9">{{hshowctrl.host.data.aboutMyRental}}</div>
    <br>
    <div class="col-md-3">About me:</div><div class="col-md-9">{{hshowctrl.host.data.aboutMe}}</div>
    <br>
    <div class="col-md-3">interests:</div><div class="col-md-9">{{hshowctrl.host.data.thingsILike}}</div>
    <br>
    <div class="col-md-3">email:</div><div class="col-md-9">{{hshowctrl.host.data.email}}</div>
    <button class="btn btn-info" ng-click="hshowctrl.showForm()">update profile</button>
  </div>
</div>

<div ng-if="!hshowctrl.shown">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.firstName">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.lastName">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">State</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.state">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">City</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.city">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Neighborhood</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.neighborhood">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Attractions near me</label>
      <div class="col-sm-10">
        <input class"form-control" type="text" ng-model="hshowctrl.host.data.attractionsNearMe">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">About Me</label>
      <div class="col-sm-10">
        <textarea class"form-control" type="text" ng-model="hshowctrl.host.data.aboutMe"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">About my space</label>
      <div class="col-sm-10">
        <textarea class"form-control" type="text" ng-model="hshowctrl.host.data.aboutMyRental"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Things I Like</label>
      <div class="col-sm-10">
        <textarea class"form-control" type="text" ng-model="hshowctrl.host.data.thingsILike"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-info" ng-click="hshowctrl.updateHost(hshowctrl.host.data._id)">Update profile</button>
      </div>
    </div>
  </form>
</div>


